*{
    margin: 0;
    padding: 0;
}
#root{
    padding-top: 50px;
    text-align: center;
    align-items: center;
    height: 650px;
    color: white;
    background-color: black;
}
#btn{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px black;
}
